html, body, div, span, h1, p, em, img, header {
 margin: 0;
 padding: 0;
 border: 0;
 vertical-align: baseline;
}

a:focus,
a:active {
 outline: none;
 color: blue;
}



a  {
 text-decoration: none;
color: black;
}

a:hover  {
 text-decoration: none;
}

footer, header, section {
 display: block;
}

body {
 line-height: 1;
 background-color: #f5f5eb;
}

html {
 scroll-behavior: smooth;
}

img {
 max-width: 100%;
 margin: 0;
 padding: 0;
}

.plus {
 width: 3%;
}



@media screen and (max-width: 400px) {


 .container {
  max-width: 380px;
  margin: 0 6%;
 }
header {
 margin: 10% 0;
}

 .plus {
  width: 5%;
 }

 .meme-pic {
  width: 70%;
  margin: 0.6rem 0 ;
  height: 0;
 }

 .text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: Helvetica, serif;
 }

 .line {
  margin: 0 0 2rem 0;
  width: 100%;
  height: 0.05rem;
  background-color: #726042;
 }

 .meme-pic:target {
  height: 100%;
 }

}